[user]
	email = yanis.chaabane@epita.fr
	name = Yanis Chaabane
[core]
        whitespace = trailing-space, space-before-tab
        pager = less -iXFR
[rerere]
        enabled=true
[commit]
        verbose=true
[pull]
	rebase = true
[color]
	diff = auto
	status = auto
        branch = auto
[color "status"]
        changed = yellow
        added = blue
        untracked = red
